*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: #046db9;
}

.container {
    /* max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888; */

    background-color: #f2f2f2;
    padding: 30px 30px;   
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
  }
  
  .container h1{
	text-align: center;
	font-size: 23px;
	letter-spacing: 1px;
	margin-top: -30px;
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: 40px;
    padding: 10px;
}
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type=number] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #888888;
  }
  
  button[type=submit] {
    padding: 10px;
    background-color: #046db9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #0594fa;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }
  